
// Variables
$screen-xs: 375px;
$screen-xs-min: $screen-xs;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$screen-md: 1024px;
$screen-md-min: $screen-md;

$white: #ffffff;
$light-purple: #bab1E8;

$row-gap: 10px;
$col-gap: 10px;